/*FIRST PAGE*/


@media (max-width: 768px) {
	.navigation-li {
		font-size: 16px;
	}
}
@media (max-width: 768px) {
	.Firstcentersmall {
		font-size: 14px;
	}
}



/*BLOCKS*/

@media (max-width: 768px) {
	.LeftBlock2 {
		padding: 50px;
	}
}



@media (max-width: 768px) {
	.LeftBlock2p1 {
		font-size: 25px;
	}
}
@media (max-width: 768px) {
	.LeftBlock2p2 {
		font-size: 8px;
	}
}
@media (max-width: 768px) {
	.RightBlock2 {
		width: 50%;
	}
}





@media (max-width: 768px) {
	.RightBlockFlower {
		padding: 50px;
	}
}
@media (max-width: 768px) {
	.RightBlockFlowerP1 {
		font-size: 25px;
	}
}
@media (max-width: 768px) {
	.RightBlockFlowerP2 {
		font-size: 8px;
	}
}
@media (max-width: 768px) {
	.LeftBlockFlower {
		width: 50%;
	}
}



/*BUTTONS*/

@media (max-width: 768px) {
	.button2 {
		padding: 10px;
		font-size: 7px;
	}
}
@media (max-width: 768px) {
	.buttonleft {
		padding: 10px;
		font-size: 7px;
	}
}
@media (max-width: 768px) {
	.buttonflower {
		padding: 10px;
		font-size: 7px;
	}
}